.header-img {
    width: 100vw;
    height: 75vh;
    object-fit: cover;
    z-index: 1;
}

.project-nav {
    z-index: 10;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topic {
    font-size: 16px;
    background: linear-gradient(335deg, #822E01 0%, #A7501A 13.00%, #E7A776 35.00%, #FDB993 43.00%, #FFD5BD 50%, #FDB993 58.00%, #DB8D5D 67.00%, #BA6329 89.00%, #822E01 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-size: 64px;
    font-weight: 500;
    color: white;
    margin-bottom: 24px;
}

/* rotate a div 90 degrees*/

.scroll-down {
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
    align-items: start;
    gap: 8px;
    margin-top: -32px;
    align-self: last baseline;
    z-index: 2;
}

.scroll-down hr {
    width: 80px;
    border: 2px solid #00B381;
    position: relative;
    margin-top: 10px;
}

.scroll-down span {
    font-weight: 700;
    color: white;
}

.info {
    display: flex;
    flex-direction: row;    
}

.info-title {
    display: inline;
    font-size: 18px;
    background: linear-gradient(335deg, #822e01, #a7501a 13%, #e7a776 35%, #fdb993 43%, #ffd5bd 50%, #fdb993 58%, #db8d5d 67%, #ba6329 89%, #822e01);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 2;
}

.info-value {
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.info-container {
    display: flex-start;
    flex-direction: column;
    margin-top: 160px;
}

.image-headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 320px;
    margin-bottom: 32px;
}

.image-headline hr {
    width: 100%;
    color: #868785;
}

.image-headline span {
    font-size: 16px;
    color: white;
    width: 80px;
}

.collection-img {
    margin-bottom: 240px;
    width: 100%;
    height: 100%;
}

.iframe-container {
    margin-bottom: 240px;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}